@model IEnumerable<MyJobBoard.DATA.EF.Position>

@{
    ViewBag.Title = "Index";
}
<br /> <br />
<br /> <br />

<div class="open-container">
    <h2>Positions</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PositionId }, new { @class = "far fa-edit" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PositionId }, new { @class = "far fa-trash-alt" })
                </td>
            </tr>
        }

    </table>
</div>
